body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: ghostwhite;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  gap: unset;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: cadetblue;
}
.searchArea {
 gap: 1em;
 width: 100%;
 display: flex;
 flex-direction: column;
 text-align: center;
}
.searchArea h1 {
  color: aliceblue;
  padding-top: .5em;
}
.searchForm #Search{
  width: 50%;
  height: 5vh;
  outline: none;
}
.searchForm #addBtn {
  width: 20%;
  height: 4.7vh;
  translate: -5px;
  cursor: pointer;
  outline: 0;
  border: 0px solid azure;
  background-color: azure;
}


.Output {
  width: 100%;
  height: max-content;
  margin-top: 1.2em;
  gap: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
}
.list {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  padding: .5em;
  background-color: aliceblue;
  border: 1px solid black;
  color:deepskyblue;
  width: 70%;
  text-decoration: underline;
  justify-content: space-evenly;
}
.list .close {
  cursor: pointer;
  font-weight: normal;
  color: black;
  text-decoration: underline ghostwhite;
}
